version: '3.9'
services:
  auth:
    build: .
    container_name: woodtech-auth
    ports:
      - "4001:4001"
    env_file:
      - .env
    environment:
      NODE_ENV: production
    restart: unless-stopped
