# Dependencies
node_modules/
**/node_modules/

# Builds / cache
dist/
dist-ssr/
build/
coverage/

# Environment files
.env
.env.*
**/.env
**/.env.*

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Editors / OS
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.swp
